# Dependencies
/node_modules/

# Environment variables
/.env

# IDE / Editor
/.vscode/
/.idea/

# Temporary files
/tmp/
/temp/

# Coverage
coverage/

# Build files
dist/
build/

# PDF generated reports
*.pdf

# Mac system files
/.AppleDouble
/.LSOverride

# Optional npm cache
/.npm

# Optional eslint cache
/.eslintcache